name: Build & Release

permissions:
  actions: read
  pull-requests: write
  security-events: write
  contents: write
  checks: write

on:
  push:
    branches: [ "**" ]
    tags: [ "**" ]
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/dependabot.yml'
      - '.github/CODEOWNERS'
      - '**/*.md'
  merge_group:
  workflow_dispatch:  

env:
  package-version-number: 0.0.${{ github.run_number }}
  nuget-package-name: pkgchk-cli.nupkg
  
jobs:
 
  sca:
    name: Check SCA
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6

      - name: Dependency scan
        uses: tonycknight/pkgchk-action@v1
        with: 
          scan-issues: true
          scan-upgrades: true
          config: pkgchk.config.yml
          trace: true         
          
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        
      - name: Tool restore
        run: dotnet tool restore
      
      - name: App restore
        run: dotnet restore

      - name: Run Tests
        run: dotnet test -c Debug --filter FullyQualifiedName!~integration /p:CollectCoverage=true /p:CoverletOutput=./TestResults/coverage.info /p:CoverletOutputFormat=cobertura --logger "trx;LogFileName=test_results.trx" 
      
      - name: Unit test results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: unit test results
          path: ${{ github.workspace }}/tests/pkgchk-cli.tests/TestResults/test_results.trx
          reporter: dotnet-trx
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Consolidate code coverage
        run: dotnet reportgenerator -reports:./tests/**/coverage.net10.0.info -targetdir:./reports/codecoverage -reporttypes:Html,Cobertura

      - name: Code coverage results
        uses: 5monkeys/cobertura-action@v14
        with:
          path: ${{ github.workspace }}/reports/codecoverage/Cobertura.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 1
          fail_below_threshold: true
          show_line: true
          show_branch: true
          show_missing: true
          show_class_names: true
          link_missing_lines: true
          report_name: code coverage results

      - name: Archive Code coverage
        uses: actions/upload-artifact@v6
        with:
          name: codecoverage
          path: ./reports/codecoverage/*.*

  integration-tests:
    name: Integration Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]        
    runs-on: ${{ matrix.os }}
    env:
      VSTEST_CONNECTION_TIMEOUT: 300
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        
      - name: Tool restore
        run: dotnet tool restore
      
      - name: App restore
        run: dotnet restore

      - name: Run Tests
        run: dotnet test -c Release --filter FullyQualifiedName~integration --logger "trx;LogFileName=test_results.trx" -v n

      - name: Integration test results
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: integration test results - ${{ matrix.os }}
          path: ${{ github.workspace }}/tests/pkgchk-cli.tests.integration/TestResults/test_results.trx
          reporter: dotnet-trx
          path-replace-backslashes: true
          token: ${{ secrets.GITHUB_TOKEN }}          
  
  package-app:
    name: Test App Packaging
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
          
      - name: Tool restore
        run: dotnet tool restore
      
      - name: App restore
        run: dotnet restore
        
      - name: Build package 
        run: dotnet pack -c Release -o ./package/ 

  nuget-release:
    name: Push to Nuget
    runs-on: ubuntu-latest
    needs: [ sca, unit-tests, integration-tests, package-app ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5

      - name: Determine version
        run: echo "package-version-number=$(git describe --tags --dirty)" >> $GITHUB_ENV

      - name: Report version
        run: echo "Building package ${{ env.package-version-number }}" >> $GITHUB_STEP_SUMMARY
                  
      - name: Tool restore
        run: dotnet tool restore
      
      - name: App restore
        run: dotnet restore
        
      - name: Build package 
        run: dotnet pack -c Release -o ./package/ -p:PackageVersion=${{ env.package-version-number }} -p:Version=${{ env.package-version-number }}

      - name: Push nuget package
        run: dotnet nuget push "package/*.nupkg"  --api-key ${{ secrets.NUGET_PAT }} --source "nuget.org"
